<!doctype html>
<html>
  <head>
    <title>View Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/home">HOME</a></li>
          <li class="nav-item"><a class="nav-link" href="/courses">COURSES</a></li>
          <li class="nav-item"><a class="nav-link" href="/students">STUDENTS</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">ABOUT</a></li>
        </ul>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
    <!-- footer -->
    <footer>
      <p class="footer">© 2023 GaganjotSingh. All rights reserved. <a class="nav-link" href="/logout">Logout</a>
      </p>
    </footer>undefined
  </body>undefined
</html>