<div>
  <div>
    <br>
    <br>
    <h1>
      <b>
        <u> ABOUT WEBSITE: </u>
      </b>
    </h1>
    <b>
      <p style="width: 90%; margin:auto; padding: 40px; font-size:larger"> Student and Course Management System website was created using Node.js and Express with a PostgreSQL database as the data source. The website allowed users to manage student and course data. Various routes and functionalities were added, including the ability to add, edit, and delete students and courses. User authentication login/logout functionality was implemented to secure sensitive data. The website has been successfully deployed to Render. <br>
      </p>
    </b>
  </div>
</div>
</div>