<div class="main">
  <main class="col-md-12">
    <br />
    <form method="post" action="/courses/add">
      <label>Course Code</label>
      <input class="form-control" name="courseCode" type="text" />
      <label>Course Description</label>
      <input class="form-control" name="courseDescription" type="text" />
      <hr>
      <input type="submit" class="btn" value="Add Course" />
</div>
</form>
</main>
</div>